In [ ]:
!pip install tabula-py

In [1]:
import tabula
import pandas as pd

In [2]:
%ls

HSN_graphics.R           scrape_pdf_tables.ipynb

In [15]:
file1 = "Port Townsend - Legacy permits ADU in description.pdf"
file2 = "Port Townsend ADU Permit Type.pdf"

In [17]:
list_of_tables_1 = []
for i in range(1,11): #there are 10 pages in the first document 
    read_t = tabula.read_pdf(file1,pages=i)
    list_of_tables_1.append(read_t)

In [29]:
list_of_tables_2 = []
for i in range(1,6): #there are 5 pages in the second document 
    read_t = tabula.read_pdf(file2,pages=i)
    list_of_tables_2.append(read_t)

In [ ]:
t1_1 = tabula.read_pdf(file1,pages=1)

If the permit field is empty (NaN), then the project description and site address actually belong to the last line of the previous page.

In [68]:
#If the permit field is empty (NaN), then the project description 
#and site address actually belong to the last line of the previous page (only affects pdf 1)
for i in range(0,len(list_of_tables_1)):
    if pd.isna(list_of_tables_1[i][0]['Permit #'].iloc[0]):
        
        # concatenant anything non-empty to the previous row 
        for (columnName, columnData) in list_of_tables_1[i][0].iteritems():
            if not pd.isna(list_of_tables_1[i][0][columnName].iloc[0]):
                prev_list = list_of_tables_1[i-1][0][columnName]
                
                update_cell = list_of_tables_1[i-1][0][columnName].iloc[len(prev_list)-1]+' '+list_of_tables_1[i][0][columnName].iloc[0]
                
                list_of_tables_1[i-1][0][columnName].iat[len(prev_list)-1] = update_cell

/var/folders/w0/802yh79s18j0bn54dk09dm2m0000gn/T/ipykernel_13831/609485764.py:7: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (columnName, columnData) in list_of_tables_1[i][0].iteritems():

In [83]:
#combine tables from multiple pages for pdf1
table1 = list_of_tables_1[0][0]

for t in range(1,len(list_of_tables_1)):
    table1 = pd.concat([table1,list_of_tables_1[t][0]],axis=0)

In [85]:
# Remove spillover rows
table1 = table1[~pd.isna(table1['Permit #'])]
table1.shape

(212, 7)

In [86]:
#combine tables from multiple pages for pdf2
table2 = list_of_tables_2[0][0]

for t in range(1,len(list_of_tables_2)):
    table2 = pd.concat([table2,list_of_tables_2[t][0]],axis=0)
table2.shape

(135, 7)

In [90]:
table2.columns

Index(['Permit #', 'Status', 'Project Description', 'Site Address',
       'Submitted', 'Approved', 'Closed'],
      dtype='object')

In [191]:
df = pd.concat([table1,table2])

In [186]:
for item in df['Status']:
    print(item)

FINALED
FINALED
FINALED
DENIED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
ISSUED
FINALED
EXPIRED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
WITHDRAWN
FINALED
FINALED
EXPIRED
EXPIRED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
EXPIRED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
WITHDRAWN
FINALED
WITHDRAWN
VOID
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
WITHDRAWN
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
EXPIRED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
EXPIRED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
COMPLETED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
COMPLETED
EXPIRED
EXPIRED
FINALED
COMPLETED
COMPLETED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
COMPLETED
COMPLETED
COMPLETED
COMPLETED
COMPLETED
COMPLETED
INCOMPLETE
FINALED
FINALED
FINALED
COMPLETED
FINALED
COMPLETED
COMPLETED
FINALED
FINALED
COMPLETED
FINALED
FINALED
FINALED
FINALED
FINALED
COMPLETED
FINALED
COMPLETED
COMPLETED
FINALED
FINALED
FINALED
COMPLETED
FINALED
FINALED
FINALED
FINALED
WITHDRAWN
COMPLETED
COMPLETED
COMPLETED
FINALED
FINALED
FINALED
FINALED
COMPLETED
FINALED
FINALED
EXPIRED
FINALED
WITHDRAWN
COMPLETED
COMPLETED
FINALED
FINALED
FINALED
COMPLETED
FINALED
COMPLETED
SUBMITTED
SUBMITTED
ROUTED FOR REVIEW
ROUTED FOR REVIEW
WITHDRAWN
ISSUED
ISSUED
ISSUED
ISSUED
ISSUED
ISSUED
ROUTED FOR REVIEW
ISSUED
EXPIRED
ISSUED
EXPIRED
ISSUED
ISSUED
CLOSED
CLOSED
ISSUED
ISSUED
FINALED
ISSUED
CLOSED
ISSUED
ISSUED
ISSUED
FINALED
EXPIRED
FINALED
CANCELLED
ISSUED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
CANCELLED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
CANCELLED
FINALED
FINALED
WITHDRAWN
FINALED
FINALED
FINALED
FINALED
FINALED
CANCELLED
FINALED
WITHDRAWN
FINALED
FINALED
WITHDRAWN
FINALED
FINALED
FINALED
CANCELLED
WITHDRAWN
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
WITHDRAWN
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
APPROVED
FINALED
FINALED
COMPLETE
ISSUED
ISSUED
FINALED
ISSUED
FINALED
FINALED
FINALED
WITHDRAWN
FINALED
WITHDRAWN
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
FINALED
EXPIRED
FINALED
DELETED
FINALED
FINALED

In [192]:
# format and clean columns
df['Permit #'] = df['Permit #'].astype(str)
df['Status'] = df['Status'].astype(str)
df['Project Description'] = df['Project Description'].astype(str)
df['Site Address'] = df['Site Address'].astype(str)
df['Submitted'] = pd.to_datetime(df['Submitted'])
df['Approved'] = pd.to_datetime(df['Approved'])
df['Closed'] = pd.to_datetime(df['Closed'])

In [193]:
# carriage returns mess up table when exporting to Excel
df['Permit #'] = df['Permit #'].str.replace('\r','')
df['Status'] = df['Status'].str.replace('\r',' ')
df['Project Description'] = df['Project Description'].str.replace('\r',' ')
df['Site Address'] = df['Site Address'].str.replace('\r',' ')

In [197]:
df = df.sort_values(by='Submitted',ascending=True)

In [199]:
df.head()

,Permit #,Status,Project Description,Site Address,Submitted,Approved,Closed
16,BLD9203-28,COMPLETED,SFR and ADU 4762,4760 BELL ST,1992-03-04,NaT,NaT
15,BLD9509-11,FINALED,Residential - expand home and build garage. AD...,409 22ND ST,1995-09-26,NaT,2000-10-31
14,BLD9512-18,COMPLETED,Remodel outbuilding to ADU; setbacks are exist...,606 ROOSEVELT ST,1995-12-01,NaT,NaT
13,BLD96-00039,FINALED,Build garage with ADU over,613 ROSE ST,1996-03-27,NaT,1996-08-05
12,BLD96-00082,FINALED,Construct accessory dwelling unit (ADU),776 MADISON,1996-06-21,NaT,1996-11-08

In [200]:
df.shape

(347, 7)

In [204]:
#check for duplicates
len(df['Site Address'].drop_duplicates()) #325
len(df['Permit #'].drop_duplicates()) #347 - some addresses with >1 permits

347

In [198]:
with open('Combined_ADU_Permits.csv','w') as outfile:
    df.to_csv(outfile,index=False)